<h2>Select categories for <em><%= @package.name %></em></h2>

<p class="package-edit__description">
  <%= @package.description %>
</p>

<%= render "form.html",
  changeset: @changeset,
  package: @package,
  all_categories: @all_categories,
  action: package_path(@conn, :update, @package)
%>
