body {
  padding: 20px;
  background: #fff;
  color: #333;
  font-family: "Actor", sans-serif;
}

header {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  margin-top: 30px;
}

.site-header {
  font-size: 40px;
  margin-bottom: 0;
}

.site-description {
  font-size: 25px;
  color: #888;
  margin-top: 10px;
}

.package-edit__description {
  font-style: italic;
}

/* Phoenix flash messages */
.alert:empty { display: none; }
