$font-size-normal: 16px;
$font-size-small: 13px;

@import "colors";
@import "mixins";
@import "base";
@import "phoenix";

.intro-text {
  text-align: center;
  font-style: italic;
}

.toc {
  margin: 30px 0 40px;
  padding-left: 0;
  list-style-type: none;
  text-align: center;

  li {
    line-height: 1.5em;
    margin: 0.5em 0;
  }

  @media only screen and (min-width: 750px) {
    @include columns(2);
  }

  @media only screen and (min-width: 1100px) {
    @include columns(3);
  }

  @media only screen and (min-width: 1300px) {
    @include columns(4);
  }
}

$heading-breakpoint: 450px;

.site-heading {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 35px;
  @media only screen and (min-width: $heading-breakpoint) { font-size: 40px; }

  a {
    border-bottom: none;
    color: inherit;
  }
}

.site-description {
  color: #888;
  margin-top: 10px;

  font-size: 20px;
  @media only screen and (min-width: $heading-breakpoint) { font-size: 25px; }
}

.site-menu {
  line-height: 1.75em;

  a {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0.75em;
    white-space: nowrap;
  }
}

.form-group {
  margin: 15px 0;
}

.page-title {
  text-align: center;
}

.center-content {
  text-align: center;
}

.table {
  border-collapse: collapse;

  tr:hover td {
    background: $gray;
  }

  td, th {
    vertical-align: top;
  }

  td { padding: 5px; }
  &--airy td { padding: 10px 5px; }

  &__actions {
    text-align: right;
    text-transform: uppercase;
    font-size: $font-size-small;

    a {
      margin-right: 0.75em;
      &:last-child { margin-right: 0; }
    }
  }
}

.action-link {
  text-transform: uppercase;
  margin: 2em 0;
}

.category-group {
  font-weight: bold;
  text-transform: uppercase;
}

.category-section {
  margin: 20px 0;
  border-top: 1px solid $border-color;
  padding: 20px 0;

  &__packages {
    @media only screen and (min-width: 1100px) {
      @include columns(2);
    }
  }
}

.category-heading {
  margin: 0;
  /* Padding so anchors get some offset */
  padding: 15px 0 20px;
  text-align: center;
}

.package-edit {
  &__description {
    font-style: italic;
  }

  &__select {
    width: 100%;
    max-width: 500px;
    height: 200px;
  }
}

.package {
  $vspace: 0.25em;

  // No margin since that messes with CSS columns.
  padding: 1em 0;

  -webkit-column-break-inside: avoid;

  &__name {
    font-weight: bold;
    font-size: $font-size-normal;
    margin: 0;
    margin-bottom: $vspace;
  }

  &__description {
    // E.g. long URLs in descriptions.
    word-wrap: break-word;
    margin: $vspace 0;
  }

  &__links {
    $hspace: 0.75em;

    margin: $vspace 0 0 0;

    a {
      margin-right: $hspace;
      &:last-child { margin-right: 0; }

      text-transform: uppercase;
      font-size: $font-size-small;
    }

    &__categorize {
      a { margin-left: $hspace; }
    }
  }
}

.category-section .package .package__links__categorize { opacity: 0.25; }
.category-section .package:hover .package__links__categorize { opacity: 1; }
.category-section--uncategorized .package .package__links__categorize { opacity: 1; }

.bullet {
  color: $dark-gray;
}

.back-to-top {
  font-weight: normal;
  border-bottom: 0;
}

.about-text {
  max-width: 45em;
  margin: 0 auto;
  line-height: 1.75;
}
