body {
  padding: 20px;
  background: #fff;
  color: #333;
  font-family: "Actor", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

input,
button,
select
{
  font-family: inherit;
  font-size: inherit;
}

select {
  padding: 0;
}
option {
  padding: 3px 5px;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

table {
  width: 100%;
}

td, th {
  text-align: left;
}

.intro-text {
  text-align: center;
  font-style: italic;
}

.toc {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.toc__entry {
  line-height: 30px;
}

.align-right {
  text-align: right;
}

.site-heading {
  font-size: 40px;
  margin-bottom: 0;
}

.site-description {
  font-size: 25px;
  color: #888;
  margin-top: 10px;
}

.form-group {
  margin: 15px 0;
}

form.link {
  display: inline;
}

.packages {
  border-collapse: collapse;
}

.packages td {
  padding: 5px;
}

.packages tr:hover td {
  background: #eee;
}

.category-name {
  margin: 35px 0 10px;
}

.package-edit__description {
  font-style: italic;
}

.package-edit__select {
  width: 100%;
  max-width: 500px;
  height: 200px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }
