@import "colors";
@import "base";
@import "phoenix";

.intro-text {
  text-align: center;
  font-style: italic;
}

.toc {
  margin: 30px 0 40px;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
  line-height: 30px;
}

.align-right {
  text-align: right;
}

.site-heading {
  font-size: 40px;
  margin-bottom: 0;
}

.site-heading a {
  text-decoration: none;
  color: inherit;
}

.site-description {
  font-size: 25px;
  color: #888;
  margin-top: 10px;
}

.form-group {
  margin: 15px 0;
}

.table {
  border-collapse: collapse;

  tr:hover td {
    background: $gray;
  }

  td, th {
    vertical-align: top;
  }

  td {
    padding: 5px;
  }
}

.category-section {
  margin: 20px 0;
  border-top: 1px solid $border-color;
  padding: 20px 0;
}

.category-heading {
  margin: 0;
  /* Padding so anchors get some offset */
  padding: 15px 0 20px;
  text-align: center;
}

.package-edit {
  &__description {
    font-style: italic;
  }

  &__select {
    width: 100%;
    max-width: 500px;
    height: 200px;
  }
}

.package__name {
  font-weight: bold;
}

.package__description_etc {
  p {
    margin: 0;
  }
}

.package__links {
  a {
    margin-right: 0.5em;
    &:last-child { margin-right: 0; }

    text-decoration: none;
    text-transform: uppercase;
  }
}
